/* reset */
* {
    margin: 0;
    padding: 0;
}

/* font body */
body {
    font-family: 'Mulish', sans-serif;
}

/* Navbar */
nav {
    width: 1024px;
    height: 72px;
    position: fixed;
    border-radius: 90px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0px;
    left: 0px;
    margin: 16px auto;
    z-index: 10000;
}

nav .logo {
    width: 36px;
    height: 36px;
    padding: 6px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 20%;
    /* background-color: aqua; */
    justify-content: space-between;
    padding: 20px;
}

nav ul li a {
    font-size: 0.8em;
    color: #3E256C;
    text-decoration: none;
}

/* Background */
body .homepage_sec_hero {
    width: 100%;
    height: 1000px;
    background: linear-gradient(180deg, #021F30 9.6%, #F7B745 109.1%), url(Image/grain_noise_1.svg);
    background-blend-mode: multiply;
    position: relative;
}

.homepage_sec_hero .cloud_1 {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.homepage_sec_hero .welcome {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 200px auto;
}

.homepage_sec_hero .Oceano_2023 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 300px auto;
}

body .homepage_sec_satu {
    width: 100%;
    height: 1000px;
    background-image: url(Image/Meeting-1940s.svg);
    background-size: cover;
    position: relative;
    z-index: -4;
}

.homepage_sec_satu .cloud_2 {
    width: 100%;
    height: auto;
}

.wrap_all_page .are_you_ready {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 800px auto;
    z-index: 40;
}

body .homepage_sec_dua {
    width: 100%;
    height: 1400px;
    background: linear-gradient(180deg, rgba(247, 183, 69, 0) 0%, #F7B745 16.67%, #009593 100%);
    position: relative;
}

body .homepage_sec_tiga {
    width: 100%;
    height: 1400px;
    background: linear-gradient(180deg, #009593 0%, #F7B745 83.33%, rgba(247, 183, 69, 0) 100%);
    position: relative;
}

body .about_us_page_background {
    width: 100%;
    height: 4000px;
    background-color: #009593;
    background-image: url(Image/about_us_background.svg);
    background-size: cover;
    background-blend-mode: multiply;
} 

.about_us_page_background .About_us_font {
    position: absolute;
    margin: 200px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body .competition_page_background {
    width: 100%;
    height: 4000px;
    background-image: url(Image/competition_background.svg);
    background-size: cover;
}

.competition_page_background .Competitions_font {
    position: absolute;
    margin: 200px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.competition_page_background .Asset_Background_competitions {
    width: 1000px;
    height: 2500px;
    position: absolute;
    margin: 330px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* effect home page */
body .wrap_page_dua_tiga {
    margin-top: -450px;
    position: relative;
    z-index: -3;
}

body .wrap_all_page {
    width: 100%;
    height: auto;
    position: relative;
    mix-blend-mode: multiply;
}

body .wrap_white_paper_texture {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url(Image/white_paper_texture.svg);
    background-size: cover;
    mix-blend-mode: multiply;
}